<footer>
  <h1>Lorem, ipsum dolor.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda magni
    similique excepturi! Non tenetur quod vero dolores ullam aperiam nam
    architecto esse alias saepe minus culpa quibusdam officiis, enim sit natus
    temporibus autem modi! Earum voluptates delectus hic excepturi eos
    perspiciatis accusantium sunt, rerum quibusdam itaque nulla ut nihil
    molestiae assumenda inventore deleniti dolorum libero ex sint quidem commodi
    necessitatibus ipsum eaque. Quo id necessitatibus rerum praesentium minima
    exercitationem, commodi, doloribus adipisci dolor reiciendis ab quas, modi
    provident ullam ratione sequi officia a numquam omnis at blanditiis fugiat
    cupiditate sint quasi! Pariatur fugiat quasi eum unde soluta, id dolorum
    esse?
  </p>
</footer>
